body{
  background-image: url(http://fc08.deviantart.net/fs15/f/2007/003/9/e/Pirate_Ship_Sketch_by_Amarynceus.jpg); 
  background-size: 100%;
  position: absolute;
  right: 0px;
  font-family: 'Flamenco', cursive;
}